.medication {
    max-width: 60vw;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.medication h2 {
    font-size: 2rem;
    text-align: start;
    margin-bottom: 0;
}

.medication .info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
}

.medication .info .dates {
    align-self: flex-end;
    margin-top: 1.25rem;
}

.medication .info p {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.4;
}

.medication .info span {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.3rem;
}

.medication .info section:last-child p:first-child span::after {
   content: ",";
}

.medication .info section p:first-child span:last-child::after {
   content: "";
}

.medication .buttons {
    display: flex;
    gap: 0.5rem;
}

.medication .buttons .delete {
   font-size: 1rem;
   padding: 0.8rem 2rem;   
   font-family: 'Work Sans', sans-serif;
   border: 0.125rem solid #000;
   text-decoration: none;
   border-radius: 0.3rem;
   background: #fff;
   font-weight: 700;
   color: #000;
   transition: 0.2s;
   cursor: pointer;
}

.medication .buttons a {
    font-size: 1rem;
    padding: 0.8rem 2.7rem;   
    font-family: 'Work Sans', sans-serif;
    border: 0.125rem solid #000;
    text-decoration: none;
    border-radius: 0.3rem;
    background: #fff;
    font-weight: 700;
    color: #000;
    transition: 0.2s;
    cursor: pointer;
}

.medication .buttons .delete:hover {
    background: #FF0000;
    color: #fff;
}
.medication .buttons a:hover {
    background: #FFA500;
    color: #fff;
}


/* dark mode */
.medication.dark .info p,
.medication.dark .info span {
    color: #e4e4e4;
}


@media only screen and (max-width: 960px)  {
    .medication {
        max-width: 85vw;
    }
}

/* media queries */
@media only screen and (max-width: 712px)  {
    .medication .info .dates {
        align-self: flex-end;
    }
    .medication .buttons {
        justify-content: center;
     }
}

@media only screen and (max-width: 425px)  {
    .medication .buttons {
       text-align: center;
       flex-direction: column;
    }
}