.medication {
    max-width: 60vw;
    margin: 0 auto;
    padding-bottom: 2.8rem;
}

.medication h2 {
    font-size: 2rem;
    text-align: start;
    margin-bottom: 0;
    word-wrap: break-word;
    line-height: 1.3;
    padding-top: 0.7rem;
    ;
}

.medication .info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 1.5rem;
}

.medication .info .dates {
    align-self: flex-end;
    margin-top: 1.25rem;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.medication .info p {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    font-family: 'Work Sans', sans-serif;
}

.medication .info span {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.3rem;
    word-wrap: break-word;
}

.medication .info section:last-child p:first-child span::after {
    content: ",";
}

.medication .info section p:first-child span:last-child::after {
    content: "";
}

.medication .buttons {
    display: flex;
    gap: 0.5rem;
}

.medication .buttons .delete,
.medication .buttons a {
    font-family: 'Work Sans', sans-serif;
    border: 0.125rem solid #000;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    background: #fff;
    color: #000;
    transition: 0.2s;
    margin-top: 0.5rem;
}

.medication .buttons .delete:hover {
    background: #e03c31;
    color: #fff;
}

.medication .buttons a:hover {
    background: #B8860B;
    color: #fff;
}


/* dark mode */
.medication.dark .info p,
.medication.dark .info span {
    color: #e4e4e4;
}


@media only screen and (max-width: 960px) {
    .medication {
        max-width: 85vw;
    }
}

/* media queries */
@media only screen and (max-width: 712px) {
    .medication .info .dates {
        align-self: flex-start;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 425px) {
    .medication .buttons {
        text-align: center;
        align-items: start;
    }
}