.edit-form{
    max-width: 85vw;
    margin: 0 auto;
    padding-bottom: 2.8rem;
}

.edit-form .form-control {
    max-width: 31.25rem;
    margin: 0 auto;
}

.edit-form .form-control label span {
    position: relative;
    font-size: 1.1rem;
    font-weight: 600;
    top: 0.1rem;
}

.edit-form .form-control input {
    display: block;
    width: 100%;
    padding: 0.825rem;
    margin-bottom: 0.938rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    outline: none;
}

.edit-form .ingredients {
    display: flex;  
    align-items: center;
}

.edit-form .ingredients .add-btn {
    margin-left: 0.625rem;
    margin-top: 0;
    position: relative;
    top: -0.45rem;
}

.edit-form .ingredients .delete-btn {
    margin-left: 0.625rem;
    margin-top: 0;
    position: relative;
    top: -0.45rem;
    cursor: pointer;
    padding: 0.825rem;
    background: #FF0000;
    color: #fff;
    font-weight: 900;
}

.edit-form .form-control p {
    margin-bottom: 1.875rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #000;
}

.edit-form .form-control em {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #000;
}

.edit-form .add-btn {
    margin: 0;
    padding: 0.825rem 1.5rem;
    background: #000;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}


/* dark mode */
.edit-form.dark .form-control label span,
.edit-form.dark .form-control p,
.edit-form.dark .form-control em {
    color: #e4e4e4;
}


/* media queries */
@media only screen and (max-width: 480px)  {
    .edit-form h1 {
        margin-bottom: 1.5rem;
    }
}