.edit-form{
    max-width: 85vw;
    margin: 0 auto;
    padding-bottom: 2.8rem;
}

.edit-form .form-control {
    max-width: 31.25rem;
    margin: 0 auto;
}

.edit-form .form-control label span {
    font-family: 'Work Sans', sans-serif;
}

.edit-form .form-control input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 0.25rem 0 0.938rem;
    font-family: 'Work Sans', sans-serif;
    outline: none;
}

.edit-form .ingredients {
    display: flex;  
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.25rem;
}

.edit-form .ingredients input {
    margin: 0;
}

.edit-form .ingredients .add-btn {
    background: #2E8B57;
}

.edit-form .ingredients .delete-btn {
    background: #e03c31;
}

.edit-form .form-control p {
    margin: 0.438rem 0 1.875rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9rem;
}

.edit-form .form-control em {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9rem;
}

.edit-form .submit-btn {
    background: #2E8B57;
}


/* dark mode */
.edit-form.dark .form-control label span,
.edit-form.dark .form-control p,
.edit-form.dark .form-control em {
    color: #e4e4e4;
}


/* media queries */
@media only screen and (max-width: 480px)  {
    .edit-form h1 {
        margin-bottom: 1.5rem;
    }
}