.medication-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1.25rem;
  padding-bottom: 2.8rem;
}

.medication-list .card {
  box-shadow: 0px 0px 10px #000;
  border-radius: 0.625rem;
  padding: 1.5rem;
  transition: 0.2s;
  background: #fff;
}

.medication-list .card:hover {
  transform: scale(1.1);
}

.medication-list .card h3 {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  color: #000;
}

.medication-list .card p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
}

.medication-list .card p:nth-last-child(2) {
  margin-bottom: 0.7rem;
}

.medication-list .card span {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #000;
}


/* dark mode */
.medication-list .card.dark {
  background: #555;
}
.medication-list .card.dark h3, 
.medication-list .card.dark p,
.medication-list .card.dark span {
  color: #e4e4e4;
}




/* media queries */
@media only screen and (max-width: 658px) {
  .medication-list .card h3 {
     line-height: 1.2;
  }
}

@media only screen and (max-width: 992px) {
  .medication-list {
    padding-top: 1rem;
  }
}