.searchbar {
    max-width: 85vw;
    margin: 0.4rem auto 0;
    display: flex;
    justify-content: flex-end;
}

.searchbar label {
    color: #000;
    font-size: 1.3rem;
    margin-right: 0.75rem;
}

.searchbar input {
    padding: 0.825rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    outline: none;
    border: solid 1px #000;
}

/* dark mode */
.searchbar.dark label {
    color: #e4e4e4;
}