.navbar {
    padding: 1.5rem;
    background: #000;
}

.navbar nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 85vw;
}

.navbar nav h1 {
    font-weight: 700;
    font-size: 2.2rem;
    display: inline-block;
}

.navbar .storename {
    display: flex;
    align-items: center;
 }

.navbar a.storename {
    margin-right: auto;
    text-decoration: none;
    color: #fff;
}

.navbar a.storename img {
    width: 50px;
    margin-left: 8px;
}

.navbar a:last-child {
    font-family: 'Roboto', san-serif;
    border: 0.125rem solid #fff;
    padding: 0.8rem 0.9rem;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    color: #fff;
    font-weight: 900;
    transition: 0.1s;
}

.navbar a:last-child:hover {
    background: #0000CD;
}