.navbar {
    padding: 1.5rem;
}

.navbar nav {
    display: flex;
    align-items: center;
    max-width: 85vw;
    margin: 0 auto;
}

.navbar a.storename {
    display: flex;
    align-items: center;
    margin-right: auto;
    text-decoration: none;
    color: #fff;
}

.navbar a.storename h1 {
    font-weight: 800;
    font-size: 2.5rem;
    display: inline-block;
    font-family: 'Changa', sans-serif;
}

.navbar a.storename img {
    width: 3.125rem;
    margin-left: 0.5rem;
}

.navbar .logout {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar .displayname {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.navbar .displayname p {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    white-space: nowrap;
}

.navbar .displayname span {
    font-size: 25px;
    color: red;
}

.navbar .logout button {
    padding: 0.5rem 1rem;
    font-family: 'Work Sans', sans-serif;
    border-radius: 0.5rem;
    background: #232524;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    transition: 0.3s ease-in-out;
    border-width: 0;
    flex: 1;
}

.navbar .logout a {
    font-family: 'Work Sans', sans-serif;
    background: #232524;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    min-width: fit-content;
}

.navbar .login {
    display: flex;
}

.navbar .login a {
    font-size: 1.1rem;
    font-family: 'Work Sans', sans-serif;
    padding-left: 1rem;
    text-decoration: none;
    color: #fff;
}

/* media queries */
@media only screen and (max-width: 920px)  {

    .navbar nav {
      flex-direction: column;
      align-items: flex-end;
    }

    .navbar .logout, .login {
        margin: 2rem 0 1rem;
    }

}


@media only screen and (max-width: 436px)  {

    .navbar .logout {
      flex-wrap: wrap;
    }

}


