.navbar {
    padding: 1.5rem;
    background: #141414
}

.navbar nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 85vw;
}

.navbar a.storename {
    display: flex;
    align-items: center;
    margin-right: auto;
    text-decoration: none;
    color: #fff;
}

.navbar a.storename h1 {
    font-weight: 800;
    font-size: 2.3rem;
    display: inline-block;
    font-family: 'Changa', sans-serif;
}

.navbar a.storename img {
    width: 3.125rem;
    margin-left: 0.5rem;
}

.navbar nav .search-add {
    display: flex;
}

.navbar .search-add a {
    font-family: 'Work Sans', sans-serif;
    border: 0.125rem solid #fff;
    padding: 0.9rem 0.9rem;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.1s;
}

.navbar .search-add a:hover {
    background: #4169E1;
}

/* media queries */
@media only screen and (max-width: 960px)  {
    .navbar nav .search-add {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar .search-add a {
        margin-top: 0.8rem;
        text-align: center;
    }
}

@media only screen and (max-width: 712px)  {
    .navbar nav {
        flex-direction: column;
    }

    .navbar a.storename {
        margin: 0;
    }

    .navbar .search-add a {
        width: 100%;
    }
}