.medication-form {
    max-width: 85vw;
    margin: 0 auto;
    padding-bottom: 2.8rem;
}

.medication-form .form-control {
    max-width: 31.25rem;
    margin: 0 auto;
}

.medication-form .form-control label span {
    font-family: 'Work Sans', sans-serif;
}

.medication-form .form-control input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 0.25rem 0 0.938rem;
    font-family: 'Work Sans', sans-serif;
    outline: none;
}

.medication-form .ingredients {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.25rem;
}

.medication-form .ingredients input {
    margin: 0;
}

.medication-form .ingredients .ingr-btn {
    background: #2E8B57;
}

.medication-form .form-btn {
    background: #2E8B57;
}

.medication-form .form-control p {
    margin: 0.438rem 0 1.875rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9rem;
}

.medication-form .form-control em {
    font-family: 'Works Sans', sans-serif;
    font-size: 0.9rem;
}

/* dark mode */
.medication-form.dark .form-control label span,
.medication-form.dark .form-control p,
.medication-form.dark .form-control em {
    color: #e4e4e4;
}

/* media queries */
@media only screen and (max-width: 480px) {
    .medication-form h1 {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 377px) {
    .medication-form h1 {
        line-height: 1.3;
        padding-top: 0.7rem;
    }
}