.medication-form {
    max-width: 85vw;
    margin: 0 auto;
    padding-bottom: 1.25rem;
 }
 
 .medication-form .form-control {
     max-width: 31.25rem;
     margin: 0 auto;
 }
 
 .medication-form .form-control label span {
     position: relative;
     font-weight: 600;
     top: 0.1rem;
 }
 
 .medication-form .form-control input {
     display: block;
     width: 100%;
     padding: 0.825rem;
     margin-bottom: 0.938rem;
     font-family: 'Work Sans', sans-serif;
     font-size: 1rem;
     outline: none;
 }

 .medication-form .form-control .ingredients {
    display: flex;  
    align-items: center;
}

.medication-form .form-control .ingredients .form-btn {
    margin-left: 0.625rem;
    position: relative;
    top: -0.45rem;
}

 .medication-form .form-control .form-btn {
     width: 40%;
     padding: 0.925rem;
     background: #000;
     color: #fff;
     font-weight: 900;
     cursor: pointer;
 }
 
 .medication-form .form-control p {
    margin-bottom: 1.875rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #000;
}

.medication-form .form-control em {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #000;
}

.medication-form .form-control .form-btn.main {
    width: 100%;
}

/* dark mode */
.medication-form.dark .form-control label span,
.medication-form.dark .form-control p,
.medication-form.dark .form-control em {
    color: #e4e4e4;
}

/* media queries */
@media only screen and (max-width: 377px)  {
    .medication-form h1 {
        line-height: 1.3;
     }
}