@font-face {
  font-family: 'Changa';
  src: url('./fonts/Changa/Changa-ExtraBold.woff2') format('woff2'),
      url('./fonts/Changa/Changa-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Changa';
  src: url('./fonts/Changa/Changa-Medium.woff2') format('woff2'),
      url('./fonts/Changa/Changa-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Changa';
  src: url('./fonts/Changa/Changa-SemiBold.woff2') format('woff2'),
      url('./fonts/Changa/Changa-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Changa';
  src: url('./fonts/Changa/Changa-Bold.woff2') format('woff2'),
      url('./fonts/Changa/Changa-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans/WorkSans-Light.woff2') format('woff2'),
      url('./fonts/WorkSans/WorkSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
      url('./fonts/WorkSans/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans/WorkSans-Bold.woff2') format('woff2'),
      url('./fonts/WorkSans/WorkSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Changa', sans-serif;
}

html, body, #root {
  height: 100%;
}

.loading, .error {
  text-align: center;
  margin: 2.5rem 0;
  font-size: 1.3rem;
  font-family: 'Work Sans', sans-serif;
}

.error {
  line-height: 1.5;

}

.page-title {
  text-align: center;
  margin: 2.5rem 0;
  font-size: 2rem;
}

/* login & signup buttons */
.btn {
  font-size: 1rem;
  padding: 0.825rem;
  font-family: 'Work Sans', sans-serif;
  background-color: #141414;
  border-radius: 0.5rem;
  margin-top: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

/* dark mode */
.page-title.dark {
  color: #e4e4e4;
}

.loading.dark, 
.error.dark {
  color: #e4e4e4;
}


/* media queries */
@media only screen and (max-width: 480px)  {
  .loading, .error {
     margin: 1rem 0 1.5rem;
  }
}

@media only screen and (max-width: 630px)  {

}