.theme-selector {
    display: flex;
    max-width: 85vw;
    margin: 0 auto;
}

.theme-buttons div {
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    margin: 1rem 0.7rem 0 0;
}

.theme-selector .mode-toggle {
    margin-left: auto;
    margin-top: 1rem;
    cursor: pointer;
}

.theme-selector .mode-toggle img {
    width: 1.875rem;
    height: 1.875rem;
}